
.container{ /* containers */
    background-color: rgb(222, 235, 223);
    width: 50%; /* Fica mais responsivo com % do que com px */
    height: 200px;
    margin: 20px; /* Espaço entre os containers  */
    /* borda redonda e com sombra */
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
    padding: 10px; 
}

.Maiorcontainer{ /* containers */
    height: 500px;
}

.container:hover,.Maiorcontainer:hover {
    transform: scale(1.05); /* aumenta o container quando passa o mouse */
}

body {   /* Não renderizei ainda */

   
    background-image: url('imagens/img_fundo.jpg');
   
   
   /* img cobre a tela toda, fixada no fundo, centro, sem repetição  */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Para o container de cima ocupar toda a parte de cima */
    margin: 0;
    padding: 0;
    height: 100%;
        }



.TituloSubtitulo { /* Container do Titulo+subtitulo  */
    border-bottom-left-radius: 20px;  /* Canto inferior esquerdo */
    border-bottom-right-radius: 20px; /* Canto inferior direito */
    flex-direction: column;
    text-align: center;
    background-color: rgb(222, 235, 223);
    color: rgb(14, 12, 12);
    padding: 1px;
    width: 100%; 
    box-sizing: border-box; /*faz com que padding fique dentro da largura tota, sem ele ultrapassa (aparece um scroll horizonta) */
    height: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.returndiv{
    background-color: rgb(222, 235, 223);
}

.return{
    float: left;  /* coloca o return no canto esquerdo da sua div  */
    margin-left: 10px;
    margin-top: 10px;
}


.Perguntas{
    margin-left: 50px;
    font-size: 25px;
    font-weight: bold;

}

.Respostas {
    margin-top: 10px;
    font-size: 20px;
}



.Briefing{
  display: flex; /* Por padrao, eixo principal é horizontal */
  align-items: center; /* Controla o eixo vertical */
  flex-direction: column;  /* Eixo principal passa a ser vertical */
}



.botaoSaidaB{

    display: inline-block; /* ocupa o espaço necessário*/
    background-color:rgb(108, 170, 113);
    color: rgb(16, 14, 14);
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.botaoSaidaBContainer{
    text-align: center; /* centraliza o inline block no container (só funciona com elementos inline*/


}




