
/* PARA O MENU   */ 
body {
    padding-top: 100px; /* por causa do menu grudado no topo (ele esconde o conteudo atras dele),
                         então precisa empurrar o conteudo para baixo dele! Quanto maior o espaço, mas para baixo o conteudo vai */
}

.navbar-brand{
   padding-top: 10px;
   padding-right: 230px;
   padding-left:10px;
}


.navbar-nav .nav-link.active,.nav-link.dropdown-toggle{
    font-size: 20px;
    color: white !important ; /* important: Para superar o bootstrap*/
    font-family: 'Times New Roman', Times, serif;
}


.navbar-nav .nav-link.active:hover,.nav-link.dropdown-toggle:hover{ 
   color: rgb(158, 224, 158) !important; /* important: Para superar o bootstrap*/
}


.navbar-nav {
  gap: 50px;  
}


.suportIcon{
   padding-right: 10px;
}





/* PARA O RESTO DA PAGINA */

.container{ /* containers */
    background-color: rgb(222, 235, 223);
    width: 50%; 
    height: 250px;
    margin: 20px; 
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
    padding: 10px; 
}

.Maiorcontainer{ /* containers */
    height: 700px;
}

.container:hover,.Maiorcontainer:hover {
    transform: scale(1.05); /* aumenta o container quando passa o mouse */
}



.Perguntas{
    margin-left: 50px;
    font-size: 25px;
    font-weight: bold;

}

.Respostas {
    margin-top: 10px;
    font-size: 20px;
}



.Briefing{
  display: flex;
  align-items: center;
  flex-direction: column; 
  font-family: 'Times New Roman', Times, serif;
}

.VoltarTopo {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 20px;
}

#Topo {
  scroll-margin-top: 5rem;  /* Para rolar ate o inicio 100% , menu fixado atrapalha */
}
                           








