

.corpo{
    display: inline-block; 
    background-color: rgb(248, 249, 245);
    width: 50%; /* Fica mais responsivo com % do que com px */
    height: 200px;
    margin: 20px; /* Espaço entre os containers   */

    /* borda redonda e com sombra */
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);

    padding: 10px; /*  Espaço dentro do container */
}

.corpo:hover {
    transform: scale(1.05); /* aumenta o container quando passa o mouse */
}

body {   /* Não renderizei ainda, ideias de imagem do fundo (pode adicionar outra): escolher UMA  */
  
    /*background-image: url('imagens/img_1.jpg');*/
    /*background-image: url('imagens/img_2.jpg');*/
    background-image: url('imagens/img_3.jpg');
    /*background-image: url('imagens/img_4.jpg');*/
    /*background-image: url('imagens/img_5.jpg');*/
    /*background-image: url('imagens/img_6.jpg');*/
    /*background-image: url('imagens/img_7.jpg');*/
    /*background-image: url('imagens/img_8.jpg');*/
    /*background-image: url('imagens/img_9.jpg');*/
    /*background-image: url('imagens/img_10.jpg');*/
    /*background-image: url('imagens/img_11.jpg');*/
    /*background-image: url('imagens/img_12.jpg');*/
   
   /* img cobre a tela toda, fixada no fundo, centro, sem repetição  */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Para o container de cima ocupar toda a parte de cima */
    margin: 0;
    padding: 0;
    height: 100%;
        }



.TituloSubtitulo {
    border-bottom-left-radius: 20px;  /* Canto inferior esquerdo */
    border-bottom-right-radius: 20px; /* Canto inferior direito */
    text-align: center;
    padding: 10px;
    background-color: rgb(251, 252, 249);
    color: rgb(14, 12, 12);
    width: 100%; 
    height: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Perguntas{
    font-size: 20px;
    font-weight: bold;

}

.Respostas {

    font-size: 16px;
    margin-bottom: 100px;
    align-items: center;
    
   
}




.Briefing{
    text-align: center;
}

.botaoSaidaB{

    display: inline-block; /* ocupa o espaço necessário*/
    background-color:white;
    color: rgb(16, 14, 14);
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
}

.botaoSaidaBContainer{
    text-align: center; /* centraliza o inline block no container */

}

