

/* PARA O MENU   */ 
body {
    background-color: #f9f5f5;
    padding-top: 6.25rem; 
}


.navbar-brand{
   padding-top:  0.625rem;
   padding-right: 14.375rem;;
   padding-left:0.625rem;
} 
  


.navbar-nav .nav-link.active,.navbar .nav-link.dropdown-toggle{
    font-size: 1.25rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}


.navbar-nav .nav-link.active:hover,.nav-link.dropdown-toggle:hover{ 
   color: rgb(158, 224, 158);
}


.navbar-nav {
  gap: 3.125rem;  
}


.suportIcon{
   padding-right: 0.625rem;
}


/* FONTE */

@font-face {
  font-family: 'Nulshock'; 
  src: url('../fontesCSS/Nulshock Bd.otf') format('opentype'); 

} 



/* RODAPE */


footer {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    background: #f2f2f2;
    padding: 40px 20px;
    margin-top: 40px;
    border-top: 1px solid #ddd;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 160px;
    margin-bottom: 12px;
    text-align: left; 
}


.footer-column:first-child {
    min-width: 300px;
}

.footer-column strong {
    text-decoration: none;
    font-size: 14px;
}
.footer-column strong a{
   color: black;
    text-decoration: none;
    
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    color: #555;
    font-size: 13px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #555;
    font-size: 13px;
}

.brand-social {
    margin-top: 300px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.brand-social a{
   text-decoration: none;
   color: black;

}

.brand-social .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.brand-social .social-icons img {
    width: 28px;
    height: 28px;
    transition: transform 0.2s;
}
.footer-column .footer-social img{
   
   width: 28px;
   height: 28px;

}

.icon-footer-list img{
   width: 25px;
   height: 25px;
}



.brand-social .social-icons img:hover {
    transform: scale(1.2);
}


.pagamentos img{
   width: 200px;
   height: 100px;
}

.seguranca img{
   width: 130px;
   height: 50px;
}

#parceiros, #nossas-marcas,#Topo {
    scroll-margin-top: 100px; 
}


/*----------------------------------------*/
/* TABELA DE REVIEWS */

/*


/* Estilo da tabela */
.table-container {
  background: #000;
  border: 2px solid #198754;
}

.review-table th {
  background-color: #198754;
  color: #fff;
  text-transform: uppercase;
}

.review-table td, .review-table th {
  border: 1px solid #333;
  padding: 12px;
}

.review-table tr:hover {
  background-color: rgba(255, 215, 0, 0.2); /* dourado transparente */
  transition: 0.3s;
}

/* Estrelas douradas */
.stars {
  font-size: 20px;
  font-weight: bold;
  color: gold !important;
  letter-spacing: 3px;
  cursor: default;
  text-shadow: 0 0 6px rgba(255, 215, 0, 0.7);
}

.stars:hover {
  transform: scale(1.2);
  text-shadow: 0 0 10px gold, 0 0 20px #198754;
  transition: 0.2s;
}




