body {
   text-align: center;
   background-image: url('../manutencao_page/Imagens/fundoM1.jpeg');
   
   
   /* img cobre a tela toda, fixada no fundo, centro, sem repetição  */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;


}


/*  MENU */

.navbar-brand{
   padding-top: 10px;
   padding-right: 230px;
   padding-left:10px;
}

/* mais especifidade = bootstrap nao bloqueia */
/* Itens do menu:  */
.navbar-nav .nav-link.active,.nav-link.dropdown-toggle{
    font-size: 20px;
    color: white !important ; /* important: Para superar o bootstrap*/
    font-family: 'Times New Roman', Times, serif;
}


.navbar-nav .nav-link.active:hover,.nav-link.dropdown-toggle:hover{ /* Quando passar o mouse, ir para verde */
   color: rgb(158, 224, 158) !important; /* important: Para superar o bootstrap*/
}


.navbar-nav {
  gap: 50px;  /* Espaço entre cada item do menu */ 
}


.suportIcon{
   padding-right: 10px;
}






/* RESTO DA PÁGINA  */

.DivFormsManut{
  
   margin: 0 auto;
   margin-bottom: 100px;
   text-align: center;
   padding: 10px;
   background-color: rgb(255, 255, 255);
   width: 40%;
   height: 600px;
   border-radius: 10px;
   box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
}

.DivFormsManut:hover {
    transform: scale(1.05); /* aumenta o container quando passa o mouse */
}


.inputForms{
   width: 50%;
   margin-bottom: 5px;
   height: 30px;
   padding: 15px;
   border-radius: 10px;
}

h1{
   color: white;
   margin:50px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3{
   font-family: 'Times New Roman', Times, serif;
   font-size: 35px;

}

label{
   margin-top: 10px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
}

.obrigatorio{
   color: red;
}

input::placeholder {
 text-align: center;
 padding: 5px;
 font-style: italic;

}


