body {
    padding-top: 80px; /* por causa do menu grudado no topo (ele esconde o conteudo atras dele),
                         então precisa empurrar o conteudo para baixo dele! Quanto maior o espaço, mas para baixo o conteudo vai */
}

/* PARA O MENU  */


.navbar-brand{
   padding-top: 10px;
   padding-right: 230px;
   padding-left:10px;
}


.navbar-nav .nav-link.active,.nav-link.dropdown-toggle{
    font-size: 20px;
    color: white !important ; /* important: Para superar o bootstrap*/
    font-family: 'Times New Roman', Times, serif;
}


.navbar-nav .nav-link.active:hover,.nav-link.dropdown-toggle:hover{ 
   color: rgb(158, 224, 158) !important; /* important: Para superar o bootstrap*/
}


.navbar-nav {
  gap: 50px;  
}

.suportIcon{
   padding-right: 10px;
}

