.botaoB{
    background-color: darkgreen;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block; /* Faz se comportar como um bloco: margin funciona assim*/
    text-decoration: none; /* Tira o sublinhado da ancora */
    
}