
/* PARA O MENU   */ 
body {
    padding-top: 5rem; 
    background-color: #ece5e5;
}

.navbar-brand{
   padding-top:  0.625rem;
   padding-right: 14.375rem;;
   padding-left:0.625rem;
} 
  


.navbar-nav .nav-link.active,.navbar .nav-link.dropdown-toggle{
    font-size: 1.25rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}


.navbar-nav .nav-link.active:hover,.nav-link.dropdown-toggle:hover{ 
   color: rgb(158, 224, 158);
}


.navbar-nav {
  gap: 3.125rem;  
}


.suportIcon{
   padding-right: 0.625rem;
}





/* RODAPE */


footer {
    display: flex;
    justify-content: space-between; 
    background: #f2f2f2;
    padding: 40px 20px;
    margin-top: 40px;
    border-top: 1px solid #ddd;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 160px;
    margin-bottom: 12px;
    text-align: left; 
}


.footer-column:first-child {
    min-width: 300px;
}

.footer-column strong {
    text-decoration: none;
    font-size: 14px;
}
.footer-column strong a{
   color: black;
    text-decoration: none;
    
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    color: #555;
    font-size: 13px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #555;
    font-size: 13px;
}

.brand-social {
    margin-top: 300px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.brand-social a{
   text-decoration: none;
   color: black;

}

.brand-social .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.brand-social .social-icons img {
    width: 28px;
    height: 28px;
    transition: transform 0.2s;
}
.footer-column .footer-social img{
   
   width: 28px;
   height: 28px;

}

.icon-footer-list img{
   width: 25px;
   height: 25px;
}



.brand-social .social-icons img:hover {
    transform: scale(1.2);
}


.pagamentos img{
   width: 200px;
   height: 100px;
}

.seguranca img{
   width: 130px;
   height: 50px;
}

#parceiros, #nossas-marcas,#Topo {
    scroll-margin-top: 100px; 
}




/* SOBRE NÓS*/
#sobre-nos {
  position: relative;
  color: #fff;
  text-align: center;
  padding: 80px 20px;
  height: 80vh;
  overflow: hidden;
  display: flex;   /* Adicionei display flex para alinhar o sobre-container no meio */
  justify-content: center;
  align-items: center;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sobre-container {
  max-width: 1000px;
  margin: auto;
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 12px;
  align-self: center;
}

.sobre-container h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.sobre-container p {
  font-size: 1.3rem;
  line-height: 1.6;
}

/* Espaçamento entre o vídeo e esta seção */
#texto-principal {
    
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 40px; 
    padding: 20px;
    flex-wrap: wrap; 
    align-items: center;
}

/* Estilo para a imagem */
.imagemdotexto img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
    border-radius: 15px;
}

/* Efeito de hover */
.imagemdotexto img:hover {
    transform: scale(1.05);
}

/* Estilo para o texto */
.texto {
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    min-width: 100px;
    align-self: stretch;
   
}


/* Estilo para o parágrafo dentro do texto */
.texto p {
    font-size: 1.5em;
    line-height: 1.6;
    text-align: justify;
}

/* Espaçamento entre as seções */
#texto-secundario {
    margin:15px;
    margin-top: 50px; 
    display: flex;
    align-items: stretch;
    gap: 40px;
    justify-content: flex-start;
    flex-wrap: wrap; 
   
   
}

.imagem2 {
     flex: 0 0 400px;
}

/* Estilo para a imagem na nova seção */
.imagem2 img {
     max-width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
    border-radius: 15px;
}

/* Efeito de hover */
.imagem2 img:hover {
    transform: scale(1.05);
}


/* Estilo para o texto */
.texto-secundario {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    
   
    flex: 1;
    min-width: 300px;
    align-self: auto; 
}

/* Estilo para o parágrafo */
.texto-secundario p {
   font-size: 1.5em;
    line-height: 1.6;
    text-align: justify;
}