
/* PARA O MENU   */ 
body {
    padding-top: 6.25rem; /* por causa do menu grudado no topo (ele esconde o conteudo atras dele),
                         então precisa empurrar o conteudo para baixo dele! Quanto maior o espaço, mas para baixo o conteudo vai */
}


.navbar-brand{
   padding-top:  0.625rem;
   padding-right: 14.375rem;;
   padding-left:0.625rem;
} 
  


.navbar-nav .nav-link.active,.navbar .nav-link.dropdown-toggle{
    font-size: 1.25rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}


.navbar-nav .nav-link.active:hover,.nav-link.dropdown-toggle:hover{ 
   color: rgb(158, 224, 158);
}


.navbar-nav {
  gap: 3.125rem;  
}


.suportIcon{
   padding-right: 0.625rem;
}




